.login-section {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  /* box-shadow: 12px 12px 12px 12px rgba(12, 50, 90, 0.2); */
}
.login-text {
  margin-bottom: 15px;
}
@media only screen and (max-width: 688px) {
  .login-section {
    width: 100%;
  }
}
